.chat {
    flex: 2;
    border-left: 1px solid #6c6c6c;
    border-right: 1px solid #6c6c6c;
    height: 100%;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #6c6c6c;

        .texts {
            display: flex;
            flex-direction: column;
            gap: 3px;

            p {
                font-size: 14px;
                color: #a5a5a5;
            }
        }
    }
}